MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/radiosight
MONGO_DB_NAME=radiosight

FIREBASE_CREDENTIALS_PATH=./firebase_credentials.json
FIREBASE_STORAGE_BUCKET=your-project.appspot.com

MODEL_PATH=./models/model.pth
EMBEDDINGS_PATH=./data/embeddings.pkl
CLASS_NAMES_PATH=./data/class_names.json

ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
